entrypoint = "bot.main"
modules = ["python-3.10:v20-20230824-f46249a"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-23_05"

[deployment]
run = ["sh", "-c", "python3 -m bot.main"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Run Bot"

[[workflows.workflow]]
name = "Run Bot"
mode = "sequential"
author = 45517487

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m bot.main"

[[ports]]
localPort = 8080
externalPort = 80
